<%- include('partials/header.ejs') %>
<div class="introductory-div">
  <h1 class="heading">Welcome to Linux Distributions Encyclopedia!</h1>
  <p class="heading-paragraph"><%=welcomeStartingContent%></p>
</div>

<div class="container-fluid">
  <div class="row justify-content-between cards">
    <% distros.forEach(distro => { %> <% let imageLink =
    "https://linux-distro-dictionary-api.herokuapp.com/distros/" + distro.name +
    "/logo" %> <% let creationDate = ""+ distro.createdAt.slice(0,10) %> <% let
    updateDate = ""+ distro.updatedAt.slice(0,10) %> <% let hrefLink =
    "/viewDistro/" + distro.name %>

    <a
      style="display: inline-block;"
      class="col-lg-3 card-box"
      href="<%=hrefLink%>"
    >
      <div class="distro-card">
        <div class="distro-name-first-div">
          <h4 class="distro-name"><%=distro.name%></h4>
          <span class="text-mute" style="text-align: right; margin-top: 10px;"
            >🕒 <%= creationDate %></span>
        </div>
        <div class="container-logo">
          <img class="logo-img" src="<%=imageLink %>" alt="logo" />
        </div>
        <div class="distro-name-last-div">
          <span class="text-mute">Supported By:</span>
          <span class="text-mute"><%=distro.backedBy%> </span>
        </div>
      </div>
    </a>

    <% }) %> <%- include('partials/footer.ejs') %>
  </div>
</div>
